<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
                <li><a href ="{%url "compromized"%}">compromized ip</a></li>
                <li><a href ="{%url "subnet"%}">list of Ukrainian AS</a></li>
                <li><a href ="{%url "index"%}">map</a></li>
                <li><a href ="{%url "users"%}">users</a></li>
            </ul>
          </div>
    </div>
{%block content%}
this info is displayed due to abscence of data on current page
{%endblock content%}


</body>
</html>

