{%load leaflet_tags%}
<html>
  <head>
    {%leaflet_js%}
    {%leaflet_css%}
    <style>
      .leaflet-container {height: 80%;}
    </style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <h1>map</h1>
    <li><a href ="{%url "compromized"%}">compromized ip</a></li>
    <li><a href ="{%url "subnet"%}">list of Ukrainian AS</a></li>
    <li><a href ="{%url "index"%}">map</a></li>
    <li><a href ="{%url "users"%}">users</a></li>
    {%leaflet_map "main" callback="main_map_init"%}

    <script type="text/javascript">
        function main_map_init (map, options) {
            var dataurl = '{% url "data" %}';

            function onEachfeature(feature, layer){
                layer.on('click', function(e){
                    var ourPopup = 'ip:'+e.target.feature.properties.ip_adress+'<br>'+ 'date:'+e.target.feature.properties.appear_date+ '<br>'+ 'resourse: '+e.target.feature.properties.resourse;
                    layer.bindPopup(ourPopup).openPopup(e.geom);
                });
            }
            var ourLayer = L.geoJson(null,{
                onEachFeature:onEachfeature
            });

            $.getJSON(dataurl, function(data){
                // Add GeoJSON layer
               ourLayer.addData(data);

            })
            ourLayer.addTo(map);
            }

    </script>


    <div id="countries" style="border:1px solid rgba(255,0,0,0); width: 500px; " >


    </div>


    <!--<select id="countries">   </select>-->

  </body>
</html>