{%extends 'base.html'%}

{%block content%}

        <form action=" " method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYYrCsNcwH2JLUTJIfpHNzUZYBf6mkcHc" type="text/javascript"></script>
        <script type="text/javascript">
        // check DOM Ready
        $(document).ready(function() {
            // execute
            (function() {
                // map options
                var options = {
                    center: {lat: 48.0, lng: 31.0},
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.HYBRID,
                    mapTypeControl: true
                };
                var locations = ({{ number|safe }});
                var infowindow = new google.maps.InfoWindow();
                // init map
                var map = new google.maps.Map(document.getElementById('map_canvas'), options);


                // set multiple marker
                for (var i = 0; i < locations.length; i++) {
                    // init markers
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                        map: map,
                        title: 'Click Me ' + i
                    });

                    locations[i].contentString = 'ipadress: ' + locations[i][1]+'<br>' + "date: " + locations[i][0] + '<br>' + "malware: " + locations[i][3] + '<br>' + "resourse: " + locations[i][4];

                    // process multiple info windows
                     google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent(locations[i].contentString);
                infowindow.open(map, marker);
            }
        })(marker, i));

        /**
         * Show markers on hover
         */
{#        google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {#}
{#            return function() {#}
{#                infowindow.setContent(locations[i].contentString);#}
{#                infowindow.open(map, marker);#}
{#            }#}
{#        })(marker, i));#}

{#        if(i === 0) {#}
{#            infowindow.setContent(locations[i].contentString);#}
{#            infowindow.open(map, marker);#}
{#        };#}
    }

            })();
        });
        </script>
    </head>
    <body>
        <div id="map_canvas" style="width: 80%; height: 600px;"></div>
{%endblock content%}
</body>
</html>